<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Rent Rover</a>
    <ul *ngIf="!(isAuthenticated$ | async)" class="nav navbar-nav pull-xs-right">
      <li class="nav-item"><a class="nav-link text-dark" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link text-dark" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li class="nav-item"><a class="nav-link text-dark" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <ul *ngIf="isAuthenticated$ | async" class="nav navbar-nav pull-xs-right">
      <li class="nav-item"><a class="nav-link text-dark" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link text-dark" routerLink="/availableVehicles"
          routerLinkActive="active">Available Vehicles</a></li>
    </ul>
    @if (userName$ | async) {    
    <span class="navbar-text">
      Welcome, <strong>{{userName$ | async }}</strong>&nbsp;&nbsp;<button (click)="logoutUser()" class="btn btn-primary">Logout</button>
    </span>    
    }
  </div>
</nav>